<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title= title
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  script(src='http://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
  script(src='js/main.js')
body
  .container
    .row
      .col-xs-12
        h1 The title is #{title}!

    .row
      .col-xs-12
        if cats.length
          table.table
            thead
              tr
                th Name
                th Type
                th Color
                th Delete
            tbody#catList
              each cat in cats
                tr(data-id= cat.id)
                  td= cat.name
                  td= cat.type
                  td= cat.color
                  td
                    button.btn.btn-danger.btn-xs.delete X


  table.hidden
    tr#template
      td.name
      td.type
      td.color
      td
        button.btn.btn-danger.btn-xs.delete X




